.tasks {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
.task {
  width: 400px;
  min-height: 200px;
}

.statusBtn {
  margin: 5px;
}
.saveBtn {
  margin: 5px;
}

@media screen and (max-width: 450px) {
  .tasks {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .task {
    margin-top: 10px;
    max-width: 350px;
  }
}
