.tasks {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
.task {
  width: 400px;
  min-height: 200px;
}

.statusBtn {
  margin: 5px;
}
.saveBtn {
  margin: 5px;
}

@media screen and (max-width: 400px) {
  .tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
